@use 'sass:math';
@use 'sass:color';
// headers inherit weight from $header-font-weight
// and line-height from  $header-lineheight
// and bottom margin from $header-margin-bottom
h1,
.h1 {
  line-height: math.div(50, 45);
  font-weight: $global-weight-light;
  .hero-roofline & {
    margin-bottom: 0.14em;
  }
  &.jumbo {
    line-height: math.div(80, 65);
    font-weight: $global-weight-light;
  }
}
.split-hero h1 {
  line-height: math.div(50, 45);
  margin-bottom: 0.33em;
  &.h2 {
    font-size: rem-calc(28);
    @include breakpoint(xlarge) {
      font-size: rem-calc(32);
    }
  }
  @include fluid-type(35px, 45px, xlarge);
  @include breakpoint(large) {
    @include fluid-type(28px, 45px, xlarge);
  }
}
h2, .h2 {
  font-size: rem-calc(28);
  margin-bottom: 0.25em;
  font-weight: $global-weight-normal;
  &:not(:first-child) {
    margin-top: 0.75em;
    &.h1 {
      margin-top: 0.475em;
    }
  }
}
h3,
.h3 {
  line-height: 1.3;
  margin-bottom: 0.25em;
  font-weight: $global-weight-medium;
  @include fluid-type(20px, 22px, medium);
}
//articles prefer to use h3 instead of h2, since they feel h2 is too large, and they want their H3 to be heavier weight
h4,
.h4 {
  font-size: rem-calc(18);
  margin-bottom: 0.25em;
  font-weight: $global-weight-medium;
}
h5,
.h5 {
  font-size: rem-calc(15);
  margin-bottom: 0.25em;
  font-weight: $global-weight-medium;
}
h6,
.h6 {
  line-height: 1.36;
  font-size: rem-calc(18);
  margin-bottom: 0.25em;
}

// temporary solution for reskinned articles, this chunk can go away once they are redone.
p:not([class]) + h2:not([class]),
figure:not([class]) + h2 {
  margin-top: 0.75em;
}
// end of article reskin fix

.jumbo {
  @include fluid-type(50px, 80px, xlarge);
}
article {
  @include fluid-type(16px, 18px, medium);
}

sup {
  font-size: 62%;
  top: -0.55em;
}
.intro {
  @include fluid-type(18px, 22px, xlarge);
}
.filemarker {
  font-variant: small-caps;
  opacity: 0.8;
}
blockquote {
  @include fluid-type(17px, 18px, medium);
  footer {
    font-weight: $global-weight-light;
    font-style: italic;
    font-size: 90%;
    padding: 0;
    @include breakpoint(large) {
      font-size: 80%;
    }
    &::before {
      content: "\2014 \0020";
    }
  }
}
figcaption {
  blockquote {
    padding: rem-calc(1 15 1 10);
  }
  :last-child {
    margin-bottom: 0;
  }
}
.callout-footer-title {
  line-height: math.div(50, 45);
  font-weight: $global-weight-light;
  @include fluid-type(30px, 45px, xlarge);
}
.subtitle {
  font-weight: $global-weight-bold;
  margin: 0.25em 0 0.375em;
  @include fluid-type(18px, 26px, xlarge);
  @include breakpoint(xxlarge) {
    @include fluid-type(22px, 32px, xxlarge);
  }
}
.feature-subtitle {
  font-weight: $global-weight-normal;
  margin: 0.25em 0 0.375em;
  @include fluid-type(18px, 26px, xlarge);
}
.sidebar-title {
  line-height: math.div(38, 28);
  margin-bottom: 0.5em;
  @include fluid-type(21px, 28px, xlarge);
}

.sidebar-subtitle {
  font-weight: $global-weight-medium;
  margin: 0 0 0.375em;
  line-height: 1.2;
  @include fluid-type(17px, 24px, xxlarge);
}
.sidebar-headline {
  font-size: rem-calc(18px);
  line-height: 1.2;
  font-weight: $global-weight-normal;
  .card & {
    font-weight: $global-weight-medium;
  }
}
.stat-points {
  font-weight: $global-weight-normal;
  margin-bottom: 0;
  @include fluid-type(14px, 16px, xlarge);
  @include breakpoint(large) {
    margin-bottom: 0.5em;
    font-weight: $global-weight-bold;
  }
}
.section-subtitle {
  color: inherit;
  font-weight: inherit;
  margin-bottom: 0.25rem;
  + .section-subtitle {
    margin-top: 0.5em;
  }
  @include fluid-type(18px, 22px, xxlarge);
}
.article-headline {
  margin: 0.15em 0 0.45em;
  strong {
    font-weight: $global-weight-medium;
  }
  .article-date-lg + & {
    margin-top: 0;
  }
  & {
    @if variable-exists(global-weight-regular) {
      font-weight: $global-weight-regular;
    }
    @include fluid-type(16px, 22px, xxlarge);
  }
}

.article-date-lg + h2 {
  margin-top: 0;
}
.xsmall {
  font-size: rem-calc(15);
  line-height: 1.3;
}
.article-category,
.article-date,
.article-date-lg {
  font-weight: $global-weight-normal;
  color: inherit;
  margin: 0.25em 0;
  line-height: 1.2;
  .sidebar:not(.events) & {
    margin-bottom: 0.65em;
  }
  @include fluid-type(14px, 16px, medium);
}
.sidebar .article-category {
  color: map-get($colors, navy1);
}
.article-date {
  margin-bottom: 0.6em;
}
.article-category {
  font-weight: $global-weight-medium;
}
.article-byline {
  color: inherit;
  line-height: 1.2;
  font-weight: inherit;
  margin-top: 0.6em;
  @include fluid-type(15px, 16px, medium);
}
.article-byline-strong {
  color: $dark-gray;
  line-height: 1.2;
  font-size: rem-calc(16);
}
.article-byline-small {
  line-height: 1.25;
  strong {
    font-weight: $global-weight-regular;
  }
  @include fluid-type(13px, 14px, medium);
}
.flex-up {
  @include fluid-type(16px, 18px, large);
}
.flex-down {
  @include fluid-type(14px, 16px, large);
}
.article-blurb {
  display: none;
}
.article-blurb-lg {
  font-weight: inherit;
  line-height: 1.3;
  margin: 0.8em 0;
  @include show-for(medium);
  @include fluid-type(14px, 18px, xxlarge);
  @media screen and (min-width: -zf-bp-to-em(map-get($breakpoints, medium))) and (max-width: -zf-bp-to-em(map-get($breakpoints, medium) + 80px)) {
    overflow: hidden;
    max-height: 3.9em; /* (Number of lines you want visible) * (line-height) */
  }
}
.header-card-text {
  font-size: rem-calc(14);
  padding-bottom: rem-calc(5);
}
.article-date-feature {
  font-weight: $global-weight-medium;
  color: inherit;
  @include fluid-type(14px, 18px, xxlarge);
}
.hero-subtitle {
  font-weight: inherit;
  margin-bottom: $global-margin * 2;
  line-height: 1.2;
  @include fluid-type(20px, 28px, xxlarge);
}
.hero-date {
  font-weight: $global-weight-medium;
  @include fluid-type(16px, 20px, xxlarge);
}
.stat-sm {
  line-height: 1.1;
  width: 100%;
  font-weight: $global-weight-bold;
  white-space: nowrap;
  @include fluid-type(18px, 28px, xxlarge);
}
.stat {
  letter-spacing: rem-calc(-1.15px);
  @include fluid-type(28px, 58px, xxlarge);
}
p.stat {
  margin-bottom: 0.2em;
}
.large-text {
  font-size: rem-calc(20);
  @include breakpoint(medium){
    font-size: rem-calc(22);
  }
}
.page-subtitle {
  margin: 0.5em 0;
  @include fluid-type(18px, 22px, xlarge);
}
.cross-promo-title {
  line-height: math.div(38, 28);
  font-weight: $global-weight-normal;
  @include fluid-type(22px, 28px, xlarge);
}
.card-title {
  line-height: math.div(25, 20);
  color: inherit;
  font-weight: $global-weight-normal;
  margin-bottom: 0.45rem;
  .card-section &:nth-last-child(2) {
    flex-grow: 0;
  }
  strong {
    font-weight: $global-weight-medium;
  }
  @include fluid-type(18px, 22px, xlarge);
}
.card-subtitle {
  margin: 0.5em 0;
}

.card-blurb {
  @include show-for(medium);
}
.card-blurb-large {
  font-weight: inherit;
  display: none;
  @include show-for(medium);
  @include fluid-type(14px, 16px, xxlarge);
}
.video-length {
  line-height: 1;
  font-weight: $global-weight-normal;
  @include fluid-type(16px, 21px, xxlarge);
}
.snug {
  line-height: 1.1;
  margin-bottom: 0.75em;
}
.file-flag {
  color: get-color(alert);
  font-variant: small-caps;
  padding-left: 0.25em;
  font-weight: $global-weight-medium;
}
.accent-navy {
  color: map-get($colors, navy4);
}
.accent-primary {
  color: $primary-color;
}
.accent-blue {
  color: map-get($colors, blue1) !important; // keeps coming out navy without !important
}
.accent-red,
.accent-alert {
  color: $fm-red;
}
.accent-green {
  color: map-get($colors, green1) !important;
}
.accent-teal {
  color: $fm-teal;
}
.accent-black {
  color: $black;
}
.accent-white {
  color: $white;
  &:hover, &:focus {
    color: $white;
  }
}
.accent-dark-gray {
  color: $dark-gray;
}

// Custom classes for footer boilerplate instances.
.our-leader-footer-boilerplate > p {
  // matches .reduce + .weight-light
  font-size: .9375rem;
  line-height: 1.25;
  font-weight: 200 !important;
}
.research-pmms-footer-boilerplate > p {
  // matches .xsmall
  font-size: rem-calc(15);
  line-height: 1.3;
}
